.formular {
    width: 100%;
    margin: auto;
  
  }

#order {
    text-align: center;

    box-sizing: border-box;

}

.formular input {
    border: 2px solid green;
    padding: 12px  20px;
    margin: 8px 0;
}
#productDropDown {

}
button[name="btnsubmit"] {
    width: 100%;
    padding: 12px  20px;
    margin: 8px 0;
}